---
import Image from '~/components/common/Image.astro';
import Headline from '~/components/ui/Headline.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import Layout from '~/layouts/PageLayout.astro';
import { environmentConfig } from '~/config';

const metadata = {
  title: 'Our Standard and Certificates',
};

const images = [
  {
    src: `${environmentConfig.baseImageUrl}/images/our_certificates/Ponggun/Ponggun-MVP.webp`,
    alt: 'Ponggun-MVP',
    link: 'https://www.credly.com/badges/a925f8a4-5107-4bc4-8ab5-cee3b663b404/public_url',
  },
  {
    src: `${environmentConfig.baseImageUrl}/images/our_certificates/Mild/thada_mvp.webp`,
    alt: 'Mild-MVP',
    link: 'https://mvp.microsoft.com/en-US/mvp/profile/3561647a-7542-4879-9702-5a78cc543eb8',
  },
  {
    src: `${environmentConfig.baseImageUrl}/images/our_certificates/Nakorn/Nakorn-DevOps Engineer Expert.webp`,
    alt: 'Nakorn-DevOps Engineer Expert',
    link: 'https://learn.microsoft.com/api/credentials/share/en-gb/NakornRientrakrunchai-3290/AD8C30B6C0025EF7?sharingId=57B1B17B693AE35E',
  },
  {
    src: `${environmentConfig.baseImageUrl}/images/our_certificates/Nakorn/Nakorn-Azure Developer Associate.webp`,
    alt: 'Nakorn-Azure Developer Associate',
    link: 'https://learn.microsoft.com/en-gb/users/nakornrientrakrunchai-3290/credentials/4bce7cd7a3ed3e22',
  },
  {
    src: `${environmentConfig.baseImageUrl}/images/our_certificates/Nakorn/Nakorn-Azure Fundamentals.webp`,
    alt: 'Nakorn-Azure Fundamentals',
    link: 'https://learn.microsoft.com/api/credentials/share/en-gb/NakornRientrakrunchai-3290/FCB870799C623A35?sharingId=57B1B17B693AE35E',
  },
  {
    src: '~/assets/images/Certificate_nakorn.webp',
    alt: 'Nakorn-Azure-AI',
    link: 'https://learn.microsoft.com/en-gb/users/nakornrientrakrunchai-3290/credentials/a7eb225ae45a65c2',
  },
  {
    src: `${environmentConfig.baseImageUrl}/images/our_certificates/Ponggun/Ponggun-Azure.webp`,
    alt: 'Ponggun-Azure',
    link: 'https://learn.microsoft.com/api/credentials/share/en-gb/ponggun/E8FF6C3510E41237?sharingId=AZ-MVP-5004988',
  },
  {
    src: `${environmentConfig.baseImageUrl}/images/our_certificates/Too/Too-Azure.webp`,
    alt: 'Too-Azure',
    link: 'https://learn.microsoft.com/en-us/users/keeratiratanapatayakorn-9126/credentials/3ddadb0646b98f76',
  },
  {
    src: '~/assets/images/nakorn_cybersecurity.webp',
    alt: 'Nakorn-Cybersecurity',
  },
];

const pdpa = [
  {
    src: `${environmentConfig.baseImageUrl}/images/our_certificates/pdpa/1.นคร%20เหรียญตระกูลชัย.webp`,
    alt: 'pdpa1',
  },
  {
    src: `${environmentConfig.baseImageUrl}/images/our_certificates/pdpa/2.วิทวัส%20กาพย์ไกรแก้ว.webp`,
    alt: 'pdpa2',
  },
  {
    src: `${environmentConfig.baseImageUrl}/images/our_certificates/pdpa/3.วัชรพงษ์_%20สุขวนิช.webp`,
    alt: 'pdpa3',
  },
  {
    src: `${environmentConfig.baseImageUrl}/images/our_certificates/pdpa/4.ธาดา%20หวังธรรมมั่ง.webp`,
    alt: 'pdpa4',
  },
  {
    src: `${environmentConfig.baseImageUrl}/images/our_certificates/pdpa/5.วชิรวิทย์%20ยวงวิภักดิ์.webp`,
    alt: 'pdpa5',
  },
  {
    src: `${environmentConfig.baseImageUrl}/images/our_certificates/pdpa/6.วีระพันธุ์%20ไทยรัก.webp`,
    alt: 'pdpa6',
  },
  {
    src: `${environmentConfig.baseImageUrl}/images/our_certificates/pdpa/7.รัฐพล%20สกลชัยไพรสัณฑ์.webp`,
    alt: 'pdpa7',
  },
  {
    src: `${environmentConfig.baseImageUrl}/images/our_certificates/pdpa/8.นที%20เหรียญตระกูลชัย.webp`,
    alt: 'pdpa8',
  },
  {
    src: `${environmentConfig.baseImageUrl}/images/our_certificates/pdpa/9.สิรามล%20สกลชัยไพรสัณฑ์.webp`,
    alt: 'pdpa9',
  },
  {
    src: `${environmentConfig.baseImageUrl}/images/our_certificates/pdpa/10.สุทธิพร%20ภูโคกสูง.webp`,
    alt: 'pdpa10',
  },
  {
    src: `${environmentConfig.baseImageUrl}/images/our_certificates/pdpa/12.วินัย%20ภูสีทอง.webp`,
    alt: 'pdpa12',
  },
  {
    src: `${environmentConfig.baseImageUrl}/images/our_certificates/pdpa/14.ภาณุพงศ์%20ฉ่ำสมบูรณ์.webp`,
    alt: 'pdpa14',
  },
  {
    src: `${environmentConfig.baseImageUrl}/images/our_certificates/pdpa/15.Yuraporn%20Nanthasuta.webp`,
    alt: 'pdpa15',
  },
];

const pdpadpo = [
  {
    src: '~/assets/images/our_certificates/pdpa/1.นคร เหรียญตระกูลชัย_ADES_DPO.webp',
    alt: '1.นคร เหรียญตระกูลชัย_ADES_DPO.webp',
  },
  {
    src: '~/assets/images/our_certificates/pdpa/2.วัชรพงษ์ สุขวนิช_ADES_DPO.webp',
    alt: '2.วัชรพงษ์ สุขวนิช_ADES_DPO.webp',
  },
  {
    src: '~/assets/images/our_certificates/pdpa/3.ธาดา หวังธรรมมั่ง_ADES_DPO.webp',
    alt: '3.ธาดา หวังธรรมมั่ง_ADES_DPO.webp',
  },
  {
    src: '~/assets/images/our_certificates/pdpa/4.รัฐพล สกลชัยไพรสัณฑ์_ADES_DPO.webp',
    alt: '4.รัฐพล สกลชัยไพรสัณฑ์_ADES_DPO.webp',
  },
  {
    src: '~/assets/images/our_certificates/pdpa/5.วิทวัส กาพย์ไกรแก้ว_ADES_DPO.webp',
    alt: '5.วิทวัส กาพย์ไกรแก้ว_ADES_DPO.webp',
  },
  {
    src: '~/assets/images/our_certificates/pdpa/6..นที เหรียญตระกูลชัย_ADES_DPO.webp',
    alt: '6..นที เหรียญตระกูลชัย_ADES_DPO.webp',
  },
  {
    src: '~/assets/images/our_certificates/pdpa/7.วีระพันธุ์ ไทยรัก_ADES_DPO.webp',
    alt: '7.วีระพันธุ์ ไทยรัก_ADES_DPO.webp',
  },
  {
    src: '~/assets/images/our_certificates/pdpa/8.ยุรพร นันทสุทา_ADES_DPO.webp',
    alt: '8.ยุรพร นันทสุทา_ADES_DPO.webp',
  },
  {
    src: '~/assets/images/our_certificates/pdpa/9.สุทธิพร ภูโคกสูง_ADES_DPO.webp',
    alt: '9.สุทธิพร ภูโคกสูง_ADES_DPO.webp',
  },
  {
    src: '~/assets/images/our_certificates/pdpa/10.สิรามล สกลชัยไพรสัณฑ์_ADES_DPO.webp',
    alt: '10.สิรามล สกลชัยไพรสัณฑ์_ADES_DPO.webp',
  },
];
---

<Layout metadata={metadata}>
  <WidgetWrapper containerClass="max-w-7xl mx-auto">
    <!-- Tabs -->
    <div class="wrapper mt-12 xl:mt-0">
      <input type="radio" name="slider" id="tab-1" checked />
      <input type="radio" name="slider" id="tab-2" />
      <input type="radio" name="slider" id="tab-3" />
      <input type="radio" name="slider" id="tab-4" />
      <header>
        <label for="tab-1" class="tab-1">ISO 29110</label>
        <label for="tab-2" class="tab-2">Microsoft</label>
        <label for="tab-3" class="tab-3">PDPA</label>
        <label for="tab-4" class="tab-4">PDPA DPO</label>
        <div class="slider"></div>
      </header>
    </div>

    <!-- Standards Tab Content -->
    <div id="standards" class="tab-content active">
      <div class="block-effect" style="--td: 1s">
        <div class="block-reveal pt-4" style="--bc: var(--aw-color-primary); --d: .1ms">
          <Headline title="Our Standard" classes={{ container: 'mt-2 md:pt-4 lg:pt-6 lg:mb-8' }} />
        </div>
      </div>
      <div class="flex flex-col items-center gap-8 p-4 lg:p-0">
        <div class="lg:w-3/4">
          <p class="md:text-md">
            Our company has been assessed and certified for
            <span class="text-primary">ISO 29110</span> standards in
            <span class="text-primary">Project Management (PM) Process</span>
            and
            <span class="text-primary">Software Implementation (SI) Process</span>. We strictly adhere to the
            established framework standards to ensure the efficiency and quality of all software development processes.
            <span class="font-bold">Certification Date: September 27, 2024</span>
          </p>
        </div>

        <div class="lg:w-[40%] flex justify-center">
          <div
            class="border-[2px] border-black flex justify-center my-4 animate-on-scroll max-w-xl mx-auto shadow-xl hover:shadow-2xl transition-shadow duration-300 fade-up-element image-container"
          >
            <Image
              src={`${environmentConfig.baseImageUrl}/images/ISO.webp`}
              alt="ISO 29110"
              class="!object-contain w-3/4"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- Certificates Tab Content -->
    <div id="certificates" class="tab-content flex justify-center">
      <div class="pt-4">
        <Headline title="Our Certificates" classes={{ container: 'mt-2 md:pt-4 lg:pt-6 lg:mb-8' }} />
      </div>
      <div class="flex justify-center md:items-center xl:items-start">
        <p class="text-md">
          Our team consists of
          <span class="text-primary">Microsoft Technology Experts</span>
          who have been certified by
          <span class="text-primary">Microsoft</span>
          throughout our journey.
        </p>
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4 mt-8 mx-auto">
        {
          images.map((image) => (
            <div class="image-container">
              <a href={image.link ?? '#'} target="_blank">
                <Image src={image.src} alt={image.alt} class="w-full h-full !object-contain" />
              </a>
            </div>
          ))
        }
      </div>
    </div>

    <!-- PDPA Tab Content -->
    <div id="PDPA" class="tab-content">
      <div class="pt-4 flex justify-center flex-col items-center gap-0">
        <Headline title="PDPA" classes={{ container: 'mt-2 md:pt-4 lg:pt-6 lg:mb-8' }} />
        <div class="flex justify-center md:items-center xl:items-start">
          <p>
            Our team has been trained in
            <span class="text-primary">Personal Data Protection (PDPA)</span>
            and strictly complies with the law
          </p>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mt-8 mx-auto">
          {
            pdpa.map((pdpa) => (
              <div class="image-container border-gray-300 p-2 image-link">
                <Image src={pdpa.src} alt={pdpa.alt} class="w-full h-full !object-contain mx-auto border-2" />
              </div>
            ))
          }
        </div>
      </div>
    </div>

    <!-- PDPA DPO Tab Content -->
    <div id="PDPADPO" class="tab-content">
      <div class="pt-4 flex justify-center flex-col items-center gap-0">
        <Headline title="PDPA DPO" classes={{ container: 'mt-2 md:pt-4 lg:pt-6 lg:mb-8' }} />
        <div class="flex justify-center md:items-center xl:items-start">
          <p>
            Our team has been trained in
            <span class="text-primary">"Data Protection Officer (DPO)" course</span>
            and strictly complies with the law
          </p>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mt-8 mx-auto">
          {
            pdpadpo.map((pdpadpo) => (
              <div class="image-container border-gray-300 p-2 image-link">
                <Image src={pdpadpo.src} alt={pdpadpo.alt} class="w-full h-full !object-contain mx-auto border-2" />
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </WidgetWrapper>
</Layout>

<style>
  .image-link img {
    transition: transform 0.3s ease;
  }
  .image-link:hover img {
    transform: scale(1.1);
  }
  .tab-content {
    display: none;
    opacity: 0;
    transform: translateY(10px);
    transition:
      opacity 0.3s ease-out,
      transform 0.3s ease-out;
    animation: fade-in 1s ease-out forwards;
  }

  .tab-content.active {
    display: block;
    animation: fade-in 1s ease-out forwards;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /*---------- slider tab selector -----------*/
  :root {
    --tab-count: 4; /* Change this to match the number of tabs */
  }

  .wrapper {
    width: calc(var(--tab-count) * 120px); /* Adjust 120px per tab as needed */
    max-width: 100%;
    background: #fff;
  }

  .wrapper header {
    height: 50px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  header label {
    height: 100%;
    z-index: 2;
    width: calc(100% / var(--tab-count)); /* Dynamically adjust label width */
    display: flex;
    cursor: pointer;
    font-size: 18px;
    position: relative;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;
  }

  header .slider {
    position: absolute;
    height: 93%;
    border-radius: inherit;
    background: linear-gradient(145deg, var(--aw-color-primary) 0%, #ffd000 120%);
    transition: all 0.3s ease;
    width: calc(100% / var(--tab-count)); /* Dynamic slider width */
  }

  /* Dynamic slider positioning */
  #tab-1:checked ~ header .slider {
    left: calc(0 * (100% / var(--tab-count)));
  }

  #tab-2:checked ~ header .slider {
    left: calc(1 * (100% / var(--tab-count)));
  }

  #tab-3:checked ~ header .slider {
    left: calc(2 * (100% / var(--tab-count)));
  }

  #tab-4:checked ~ header .slider {
    left: calc(3 * (100% / var(--tab-count)));
  }

  .wrapper input[type='radio'] {
    display: none;
  }

  @media screen and (max-width: 480px) {
    .wrapper header {
      height: auto;
      margin-top: 40px;
    }

    header label {
      font-size: 14px;
      padding: 8px 0;
    }
  }
</style>

<script>
  document.addEventListener('astro:page-load', () => {
    const inputs = document.querySelectorAll('input[name="slider"]');
    const contents = document.querySelectorAll('.tab-content');

    inputs.forEach((input, index) => {
      input.addEventListener('change', () => {
        contents.forEach((content) => content.classList.remove('active'));
        contents[index].classList.add('active');
      });
    });
  });
</script>
