---
import { Icon } from 'astro-icon/components';
import FacebookIcon from '~/components/icons/FacebookIcon.astro';
import LineIcon from '~/components/icons/LineIcon.astro';
import { getHomePermalink } from '~/utils/permalinks';
import Logo from '../Logo.astro';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface Links {
  title?: string;
  links: Array<Link>;
}

export interface Props {
  links: Array<Links>;
  description?: string;
  socialLinks: Array<Link>;
  footNote?: string;
  theme?: string;
  contactLinks: Array<Link>;
}

const {
  socialLinks = [],
  description = await Astro.slots.render('description'),
  links = [],
  theme = 'light',
  contactLinks = [],
} = Astro.props;

const year = new Date().getFullYear();
---

<footer class:list={[{ dark: theme === 'dark' }, 'relative border-t border-gray-200 dark:border-slate-800 not-prose']}>
  <div class="dark:bg-dark absolute inset-0 pointer-events-none" aria-hidden="true"></div>
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6 dark:text-slate-300">
    <div class="grid gap-4 gap-y-8 grid-cols-12 md:py-12 py-8 sm:gap-8">
      <div class="col-span-12 lg:col-span-5">
        <div class="mb-2">
          <a class="flex font-bold text-xl" href={getHomePermalink()}><Logo /></a>
        </div>
        <div class="text-sm text-muted flex gap-1">
          {description && <Fragment set:html={description} />}
        </div>
      </div>
      {
        links.map(({ title, links }) => (
          <div class="col-span-6 lg:col-span-2 md:col-span-3">
            <div class="text-muted font-extrabold mb-2">{title}</div>
            {links && Array.isArray(links) && links.length > 0 && (
              <ul class="text-sm">
                {links.map(({ text, href, ariaLabel }) => (
                  <li class="mb-2">
                    <a
                      class="text-muted hover:text-gray-700 hover:underline dark:text-gray-400 transition duration-150 ease-in-out"
                      href={href}
                      aria-label={ariaLabel}
                    >
                      <Fragment set:html={text} />
                    </a>
                  </li>
                ))}
              </ul>
            )}
          </div>
        ))
      }
      <div class="col-span-12 lg:col-span-3 md:col-span-6">
        <div class="text-muted font-extrabold mb-2">ติดต่อเรา</div>
        <ul class="text-sm">
          {
            contactLinks.map(({ icon, text, href }) => (
              <li class="mb-2">
                <a href={href} target="_blank" class="flex items-center gap-2 w-fit text-muted text-sm">
                  {icon ? (
                    icon === 'line' ? (
                      <LineIcon width="1.25rem" height="1.25rem" />
                    ) : icon === 'facebook' ? (
                      <FacebookIcon width="1.25rem" height="1.25rem" />
                    ) : (
                      <Icon name={icon} class="w-5 h-5" />
                    )
                  ) : null}
                  <Fragment set:html={text} />
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="lg:flex lg:items-center lg:justify-between py-6 lg:py-8">
      {
        socialLinks?.length ? (
          <ul class="flex mb-4 lg:order-1 -ml-2 lg:ml-4 lg:mb-0 rtl:ml-0 rtl:-mr-2 rtl:lg:ml-0 rtl:lg:mr-4">
            {socialLinks.map(({ ariaLabel, href, text, icon }) => (
              <li>
                <a
                  class="text-muted dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
                  aria-label={ariaLabel}
                  href={href}
                  target="_blank"
                >
                  {icon && <Icon name={icon} class="w-5 h-5" />}
                  <Fragment set:html={text} />
                </a>
              </li>
            ))}
          </ul>
        ) : (
          ''
        )
      }

      <div class="text-sm mr-4 dark:text-muted">
        <p>&copy; <span id="footer-year">{year}</span> T.T. Software Solution - All rights reserved</p>
      </div>
    </div>
  </div>
</footer>

<script is:inline>
  document.getElementById('footer-year').innerText = new Date().getFullYear();
</script>
