---
// JobOpening.astro
import Image from '~/components/common/Image.astro';
import { environmentConfig } from '~/config';

const isEnglish = Astro.currentLocale === 'en';
const jobs = [
  {
    image: `${environmentConfig.baseImageUrl}/images/jobs/2025/1.png`,
    title: '.NET (C#) Developer',
    description: {
      sections: [
        {
          title: 'Job Description',
          items: [
            'Work with the Product Owner, Development Manager to develop web application according to the assignment',
            'Develop Web interface and Restful Web API with the Mobile Developer',
            'Suggest solution and share knowledge with colleagues',
          ],
        },
      ],
    },
    qualifications: [
      'Minimum of 1-3 years of hands-on experience with .NET Core or .NET framework ASP.NET (WebForms, MVC, WebAPI), JavaScript',
      'Proficient in C#, with a good knowledge of its ecosystems',
      'Solid understanding and experience with object-oriented design.',
      'Strong understanding of Web API technologies such as RESTful, WebSockets, WebHooks.',
      'Skill for writing reusable C# libraries',
      'Familiar with various design and architectural patterns',
      'Committed to writing clean, readable C# code',
      'Understanding fundamental design principles for application scaling',
      'Ability to design database schemas that represent and supports analytic processes, familiar with relational databases, preferably MSSQL, including data modeling, concurrency, stored procedure development.',
      'Basic understanding of Common Language Runtime (CLR), its limitations, weaknesses, and workarounds',
      'English communication is a plus',
      'Familiarity with CI/CD is a plus',
      'Experience in Design Patterns is a plus',
      'Algorithm Analysis is a plus',
      'Able to work with minimal supervision',
    ],
    locations: {
      remote: 'Remote Working - Work Anywhere',
      office: ['KKU Science Park'],
    },
    contact: {
      tel: isEnglish? '+666-1018-1275 (HR)':'06-1018-1275 (HR)',
      email: 'hr@tt-ss.net',
    },
    applyLink: 'https://forms.gle/ZReYauwG16ZhgeM68',
  },
  {
    image: `${environmentConfig.baseImageUrl}/images/jobs/2025/2.png`,
    title: 'QA/Tester (Automate+Manual)',
    description: {
      sections: [
        {
          title: 'Job Description',
          items: [
            'Get requirement and create the test scripts or test scenarios to ensure the test coverage included in test result',
            'Ensure the system has provided flawless experience to target users',
            'Record issues found in tracking system with details that allow developer to perform tasks',
            'Execute all types of testing (usability, functionality, unit test, integrated test)',
            'Have experience in automate testing is a plus',
            'Can write OOP is a plusProvide support to non-technical teamAble to work with remote development team with transparencyDeliver work on time',
          ],
        },
        {
          title: 'Manual Testing',
          items: ['Use Notion to create test cases'],
        },
        {
          title: 'Automated Testing',
          items: ['Use JMeter, Selenium, Postman, BrowserStack'],
        },
      ],
    },
    qualifications: [
      "Bachelor's degree in a related field",
      '1-2 years of experience as a Automate Tester',
      'Sense of ownership in work on hands',
      'Problem-solving skills',
      'Attention to details',
      'Have experience in Web application and Mobile Testing',
      'Good communication skill in both speaking and writing (Communication in English is a plus)',
      'SQL command skills is a plus',
      'Have responsibility, be honest, and always on time',
      'Have own Personal Computer and Internet',
      'Can share your knowledge through Notion',
      'Able to work with minimal supervision',
    ],
    locations: {
      remote: 'Remote Working - Work Anywhere',
      office: ['KKU Science Park'],
    },
    contact: {
      tel: '06-1018-1275 (HR)',
      email: 'hr@tt-ss.net',
    },
    applyLink: 'https://forms.gle/DrDBKSYCDTGQhzui7',
  },
];
---

<section id="apply" class="py-16 bg-white">
  <div class="container mx-auto px-4">
    <h2 class="text-3xl font-semibold text-center mb-8">{isEnglish ? 'Job Openings' : 'ตำแหน่งงานที่เปิดรับ'}</h2>
    <div class="space-y-8">
        {
          jobs.map((job) => (
            <div class="bg-gray-100 p-8 rounded-lg shadow-md">
              <div class="flex flex-col md:flex-row gap-6">
                <div class="md:w-1/3">
                  <Image src={job.image} alt={job.title} class="w-full h-auto rounded-lg mb-4" />
                </div>
                <div class="md:w-2/3">
                  <h3 class="text-2xl font-bold mb-4">{job.title}</h3>

                  {job.description.sections.map((section) => (
                    <div class="mb-6">
                      <h4 class="text-xl font-semibold mb-3">{section.title}</h4>
                      <ul class="list-disc pl-5 space-y-2">
                        {section.items.map((item) => (
                          <li>{item}</li>
                        ))}
                      </ul>
                    </div>
                  ))}

                  {job.qualifications?.length > 0 && (
                    <div class="mb-6">
                      <h4 class="text-xl font-semibold mb-3">Qualifications</h4>
                      <ul class="list-disc pl-5 space-y-2">
                        {job.qualifications?.map((qual) => (
                          <li>{qual}</li>
                        ))}
                      </ul>
                    </div>
                  )}

                  <div class="mb-6">
                    <h4 class="text-xl font-semibold mb-3">Location</h4>
                    <p class="font-medium">{job.locations.remote}</p>
                    <p class="mt-2">Office:</p>
                    <ul class="list-disc pl-5">
                      {job.locations.office.map((loc) => (
                        <li>{loc}</li>
                      ))}
                    </ul>
                  </div>

                  <div class="mb-6">
                    <h4 class="text-xl font-semibold mb-3">Contact</h4>
                    <p>Tel: {job.contact.tel}</p>
                    <p>Email: {job.contact.email}</p>
                  </div>

                  <a
                    href={job.applyLink}
                    class="inline-block bg-primary px-6 py-3 rounded-md text-lg font-semibold text-white transition hover:bg-primary-dark"
                  >
                    {isEnglish ? 'Apply Now' : 'สมัครงาน'}
                  </a>
                </div>
              </div>
            </div>
          ))
        }
    </div>
  </div>
</section>
