---
import type { Content } from '~/types';
import WidgetWrapper from '../ui/WidgetWrapper.astro';
import Image from '../common/Image.astro';
import { Icon } from 'astro-icon/components';

export interface Props extends Content {
  imageContainerClasses?: string;
}

const { isAfterContent = false, id, isDark = false, classes = {}, bg = await Astro.slots.render('bg') } = Astro.props;
const isEnglist = Astro.currentLocale === 'en';
const products = [
  {
    title: 'T.T. DASHBOARD',
    description: isEnglist
      ? 'T.T. Dashboard is a Business Intelligence Dashboard system that transforms complex data into easily understandable visualizations. It enables organizations to consolidate and display critical information from multiple data sources on a single screen, allowing executives and teams to monitor Key Performance Indicators (KPIs), analyze trends, view data from various dimensions, and make sharp, timely business decisions.'
      : 'T.T. Dashboard คือระบบแสดงผลข้อมูลอัจฉริยะ (Business Intelligence Dashboard) เปลี่ยนข้อมูลที่ซับซ้อนให้กลายเป็นภาพที่เข้าใจง่าย ช่วยให้องค์กรสามารถรวบรวมและแสดงผลข้อมูลสำคัญจากหลากหลายแหล่งที่มาไว้ในหน้าจอเดียว ช่วยให้ผู้บริหารและทีมงานสามารถติดตามตัวชี้วัด (KPIs) วิเคราะห์แนวโน้ม ดูข้อมูลได้หลากหลายมิติ และตัดสินใจทางธุรกิจได้อย่างเฉียบคมและทันท่วงที',
    image: `~/assets/images/dashboard.webp`,
    icon: '~/assets/images/product1.webp',
  },
  {
    title: 'T.T. e-Litigation',
    description: isEnglist
      ? 'T.T. e-Litigation is a legal case management system designed for organizations involved in legal matters. It enhances efficiency and organizes legal operations within the organization this system is specifically designed to systematically manage various types of legal case data, from information collection and progress tracking to generating summary reports. It helps reduce complexity and prevents critical information from being overlooked, enabling legal teams and executives to accurately monitor every step of the process.'
      : 'T.T. e-Litigation คือระบบบริหารจัดการงานคดีความสำหรับองค์กรที่มีความเกี่ยวข้องด้านกฏหมาย เพิ่มประสิทธิภาพและจัดระเบียบการดำเนินงานด้านกฎหมายขององค์กร เป็นระบบที่ถูกออกแบบมาเพื่อช่วยบริหารจัดการข้อมูลคดีความประเภทต่างๆ อย่างเป็นระบบ ตั้งแต่การรวบรวมข้อมูล, การติดตามความคืบหน้า, ไปจนถึงการออกรายงานสรุปผล ช่วยลดความซับซ้อนและป้องกันข้อมูลสำคัญตกหล่น ทำให้ทีมกฎหมายและผู้บริหารสามารถติดตามทุกขั้นตอนได้อย่างแม่นยำ',
    image: `~/assets/images/e-litigation.webp`,
    icon: '~/assets/images/product2.webp',
  },
  {
    title: 'T.T. TRACKING',
    description: isEnglist
      ? 'T.T. Tracking is a flexible monitoring and data visualization system for sensors and GPS/IoT devices. It handles various types of data including vehicle and transportation tracking, as well as environmental data such as water levels, wind strength, air quality, or production line data in industrial facilities. The system collects and transforms complex data into real-time displays through user-friendly dashboards, enabling you to monitor status, analyze trends, and make accurate, timely decisions based on actual data.'
      : 'T.T. Tracking คือระบบติดตาม และแสดงผลข้อมูลจากเซ็นเซอร์และอุปกรณ์ GPS/IoT ได้อย่างยืดหยุ่น ไม่ว่าจะเป็นข้อมูลด้านการติดตามยานพาหนะ และขนส่ง หรือแม้แต่ด้านสิ่งแวดล้อม เช่น ระดับน้ำ, แรงลม, คุณภาพอากาศ, หรือข้อมูลจากสายการผลิตในโรงงานอุตสาหกรรม โดยระบบจะรวบรวมและนำข้อมูลที่ซับซ้อนมาแสดงผลแบบเรียลไทม์ผ่านแดชบอร์ดที่เข้าใจง่าย ช่วยให้คุณสามารถติดตามสถานะ, วิเคราะห์แนวโน้ม, และตัดสินใจจากข้อมูลจริงได้อย่างแม่นยำและทันท่วงที',
    image: '~/assets/images/tracking.webp',
    icon: '~/assets/images/product3.webp',
  },
  {
    title: 'T.T. SURVEY / e-Testing',
    description: isEnglist
      ? 'T.T. SURVEY is a survey and assessment management system designed to support structured data collection. It accommodates diverse question-answer formats and allows access control configuration based on user roles and departments. The system enables unlimited survey creation with standardized survey management features and supports data export for integration with other systems.'
      : 'T.T. SURVEY เป็นระบบ บริหารจัดการแบบสอบถามและแบบทดสอบ ที่ออกแบบมาเพื่อรองรับการเก็บข้อมูลเชิงโครงสร้าง รองรับรูปแบบคำถาม-คำตอบ ที่หลากหลาย และสามารถกำหนดสิทธิ์การเข้าถึง ตามบทบาทผู้ใช้งานและหน่วยงาน สร้างแบบสอบถาม ได้ไม่จำกัดจำนวน พร้อมระบบบริหารจัดการแบบสอบถามที่เป็นมาตรฐาน รองรับการนำออกข้อมูลเพื่อนำไปใช้กับระบบอื่น',
    image: '~/assets/images/tt-survey.webp',
    icon: '~/assets/images/product4.webp',
  },
  {
    title: 'T.T. AI CHAT BOT',
    description: isEnglist
      ? 'T.T. AI CHAT BOT is an intelligent chatbot system for automated communication that elevates service levels and creates 24/7 customer interactions. This solution enables smooth and efficient communication, capable of automatically answering frequently asked questions, providing product information, or handling initial complaint inquiries. All of this operates under the T.T. AI Integration platform, ensuring that every conversation is managed effectively.'
      : 'T.T. AI CHAT BOT คือระบบแชทบอทอัจฉริยะเพื่อการสื่อสารอัตโนมัติ ยกระดับการบริการและสร้างปฏิสัมพันธ์กับลูกค้าตลอด 24 ชั่วโมง เป็นโซลูชันที่ช่วยให้การสื่อสารเป็นไปอย่างราบรื่นและมีประสิทธิภาพ สามารถตอบคำถามที่พบบ่อย, ให้ข้อมูลผลิตภัณฑ์, หรือรับเรื่องร้องเรียนเบื้องต้นได้โดยอัตโนมัติ ทั้งหมดนี้ทำงานภายใต้แพลตฟอร์ม T.T. AI Integration ที่ช่วยให้คุณมั่นใจได้ว่าทุกการสนทนาจะถูกจัดการอย่างมีประสิทธิภาพ',
    image: '~/assets/images/tt-ai-chatbot.webp',
    icon: '~/assets/images/product5.webp',
  },
  {
    title: 'T.T. AI OCR',
    description: isEnglist
      ? 'T.T. AI OCR (Optical Character Recognition) is a system that converts documents and images into digital data, reducing manual data entry processes and transforming paper documents into ready-to-use information. Using high-accuracy technology to read and extract text from image files or PDFs, it can be stored in a central database to create easily searchable knowledge management systems, transferred to other workflow systems for automated processes, or used for in-depth analytics to generate reports and dashboards for efficient business decision-making.'
      : 'T.T. AI OCR (Optical Character Recognition) คือระบบแปลงเอกสาร และรูปภาพให้เป็นข้อมูลดิจิทัล ลดขั้นตอนการคีย์ข้อมูลและเปลี่ยนเอกสารกระดาษให้กลายเป็นข้อมูลที่พร้อมใช้งานด้วย เทคโนโลยีการอ่านและสกัดข้อความจากไฟล์รูปภาพหรือ PDF ที่มีความแม่นยำสูง สามารถนำไปจัดเก็บในฐานข้อมูลกลางเพื่อสร้างองค์ความรู้ที่สืบค้นได้ง่าย (Knowledge Management), ส่งต่อไปยังระบบ Workflow อื่นๆ เพื่อสร้างกระบวนการทำงานอัตโนมัติ (Automation) หรือนำไปวิเคราะห์เชิงลึก (Analytics) เพื่อสร้างรายงานและแดชบอร์ดประกอบการตัดสินใจทางธุรกิจได้อย่างมีประสิทธิภาพ',
    image: '~/assets/images/tt-ai-ocr.webp',
    icon: '~/assets/images/product6.webp',
  },
  {
    title: 'T.T. AI AUTOMATION',
    description: isEnglist
      ? 'T.T. AI OCR (Optical Character Recognition) is a system that converts documents and images into digital data, reducing manual data entry processes and transforming paper documents into ready-to-use information. Using high-accuracy technology to read and extract text from image files or PDFs, it can be stored in a central database to create easily searchable knowledge management systems, transferred to other workflow systems for automated processes, or used for in-depth analytics to generate reports and dashboards for efficient business decision-making.'
      : 'T.T. AI AUTOMATION คือระบบอัตโนมัติอัจฉริยะ (Intelligent Automation Platform) ที่ทำหน้าที่บริหารจัดการกระบวนการทำงานอัตโนมัติให้แก่องค์กรของคุณ โดยสามารถเชื่อมต่อระบบ AI และแอปพลิเคชันต่างๆ ที่ใช้งานอยู่ให้ทำงานร่วมกันได้อย่างไร้รอยต่อ เช่น หลังจากที่รับคำร้องจากลูกค้า, ระบบ Automation สามารถนำข้อมูลไปสร้าง Task, เปิด Ticket ในระบบหลังบ้าน, หรือรับและแจ้งเตือนไปยังแผนกที่เกี่ยวข้องได้ทันที ช่วยลดข้อผิดพลาดและงานที่ต้องทำซ้ำซ้อน เพื่อให้ทีมของคุณมีเวลาไปโฟกัสกับงานที่สำคัญกว่า',
    image: '~/assets/images/tt-ai-automation-2.webp',
    icon: '~/assets/images/product7.webp',
  },
  {
    title: 'T.T. BUDGETING',
    description: isEnglist
      ? 'T.T. BUDGETING is a comprehensive budget management, approval, and monitoring system designed and developed by our expert team to support every stage of budget management. It elevates organizational budget administration to be systematic and transparent. The system supports all processes from budget planning, allocation, and transfer/budget increase requests through flexible approval workflows based on cost centers, to real-time monitoring and evaluation via intelligent dashboards. This enables organizations to accurately manage and track annual budgets.'
      : 'T.T. BUDGETING คือระบบบริหารจัดการ อนุมัติและติดตามงบประมาณที่ออกแบบ และพัฒนาโดยทีมงานผู้เชี่ยวชาญของเราเพื่อรองรับทุกขั้นตอนของการจัดการงบประมาณอย่างครบวงจรยกระดับการบริหารจัดการงบประมาณขององค์กรให้เป็นระบบและโปร่งใส ระบบรองรับทุกกระบวนการ ตั้งแต่การตั้งงบประมาณ, การจัดสรร, การโอนย้าย/ขอเพิ่มงบ ผ่านกระบวนการอนุมัติอย่างยืดหยุ่นตามศูนย์ต้นทุน (Cost Center) ไปจนถึงการติดตามและประเมินผลได้แบบเรียลไทม์ผ่านแดชบอร์ดอัจฉริยะ  ช่วยให้องค์กรสามารถบริหาร และติดตามงบประมาณประจำปีได้อย่างแม่นยำ',
    image: '~/assets/images/budget2.webp',
    icon: '~/assets/images/product8.webp',
  },
  {
    title: 'T.T. CMS',
    description: isEnglist
      ? 'T.T. CMS is a Content Management System developed by our team to make managing public content on your website easy and convenient. The system supports various file formats and includes a Rich Editor that allows users to edit content directly on the website without coding knowledge. Users can manage content quickly and systematically.'
      : 'T.T. CMS คือระบบจัดการ Content Management System ที่พัฒนาขึ้นโดยทีมงานของเรา เพื่อช่วยให้ การจัดการเนื้อหา (Content) ฝั่ง Public บนเว็บไซต์ ของคุณเป็นเรื่องง่ายและสะดวกสบาย ระบบนี้ออกแบบมา เพื่อรองรับไฟล์หลากหลายรูปแบบ พร้อมด้วย RichEditor ที่ช่วยให้ผู้ใช้งานสามารถแก้ไขเนื้อหาได้ โดยตรงบนเว็บไซต์โดยไม่จำเป็นต้องมีความรู้ด้านการ เขียนโค้ด ผู้ใช้งานสามารถจัดการเนื้อหาได้อย่างรวดเร็ว และเป็นระบบ',
    image: `~/assets/images/cms.webp`,
    icon: '~/assets/images/product9.webp',
  },
  {
    title: 'T.T. ILAB',
    description: isEnglist
      ? 'T.T. iLAB is a laboratory testing system for biological specimens or samples to determine medical, scientific, or industrial results. The system supports lab order management, automatic fee calculation, and multiple payment methods (QR Code/credit card), while displaying processing status and analysis results through an online platform.'
      : 'T.T. iLAB คือระบบบริการตรวจวิเคราะห์ตัวอย่าง ทางชีวภาพหรือสารตัวอย่าง เพื่อหาผลลัพธ์ทางการแพทย์ วิทยาศาสตร์ หรืออุตสาหกรรม โดยระบบรองรับการ บริหารจัดการคำร้อง (Lab Order), คำนวณค่าบริการ อัตโนมัติ และชำระเงินได้หลายรูปแบบ (QR Code / บัตรเครดิต)พร้อมแสดงสถานะการดำเนินการและ ผลวิเคราะห์ผ่านระบบออนไลน์',
    image: '~/assets/images/ILab.webp',
    icon: '~/assets/images/product10.webp',
  },
  {
    title: 'T.T. HR',
    description: isEnglist
      ? 'T.T. HR is a comprehensive HR management system developed by our experts to address all personnel management needs. It handles employee data from personal details to employment history, generates key reports like Formal documents, and includes integrated payroll and leave management for streamlined operations.'
      : 'TT HR คือ ระบบบริหารบุคลากรที่พัฒนาขึ้นโดยทีมงาน ผู้เชี่ยวชาญของเรา เพื่อตอบโจทย์ทุกความต้องการในการ จัดการทรัพยากรบุคคลในองค์กร ระบบนี้ครอบคลุม การจัดการ ข้อมูลบุคคลทั้งหมดตั้งแต่ประวัติส่วนตัว การจ้างงาน ประวัติการศึกษาไปจนถึงการออกรายงาน ที่สำคัญ เช่น กพ.7 นอกจากนี้ยังมาพร้อมฟังก์ชัน ระบบจัดการ เงินเดือนและระบบการลาที่ช่วยให้การ ดำเนินการต่าง ๆ เป็นไปอย่างสะดวกและครบวงจร',
    image: `~/assets/images/hr.webp`,
    icon: '~/assets/images/product11.webp',
  },
];
---

<WidgetWrapper
  id={id}
  isDark={isDark}
  containerClass={`max-w-7xl mx-auto ${isAfterContent ? 'pt-0 lg:pt-0 lg:pt-0' : ''} ${classes?.container ?? ''} bg-white py-4 lg:py-4 rounded-lg`}
  bg={bg}
>
  <div class="max-w-7xl mx-auto px-4 lg:px-6 py-12">
    {
      products.map((product, index) => (
        <div class="bg-white rounded-lg p-8 grid grid-cols-1 lg:grid-cols-3 items-center gap-8 border border-[#FF6A3F] shadow-lg my-4">
          <div class={`${index % 2 === 1 ? 'order-1' : ''}`}>
            <Image src={product.image} alt={product.title} class="w-full rounded-lg shadow-lg" />
          </div>
          <div class={`${index % 2 === 0 ? 'order-2' : ''}`}>
            <h2 class="text-3xl font-bold mb-4 bg-gradient-to-r from-[#FF6A3F] to-[#FFAC26F0] inline-block text-transparent bg-clip-text">
              {product.title}
            </h2>
            <p class="text-[#4D4C66] mb-6">{product.description}</p>
          </div>
          <div class="order-3 flex flex-col items-center justify-center">
            <div class="w-full relative">
              <Image src={product.icon} alt={product.title} class="w-full h-[200px] !object-contain lg:h-[300px]" />
            </div>
            <div class="open-chat-head cursor-pointer flex items-center gap-2 w-fit bg-[#FF9B3F] text-white px-8 py-2 rounded-lg border-[3px] border-black font-medium hover:opacity-90 transition-opacity">
              {isEnglist ? 'Explore' : 'สนใจ'}
              <div class="bg-black rounded-full p-1">
                <Icon name="tabler:chevron-right" />
              </div>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</WidgetWrapper>
