---
import Headline from '~/components/ui/Headline.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import Layout from '~/layouts/PageLayout.astro';
import ProjectGrid from '~/components/widgets/ProjectGrid.astro';
import { environmentConfig } from '~/config';

const metadata = {
  title: 'ผลงานของเรา | Our Works',
};

const governmentProjects = [
  {
    title: 'หน่วยงานกรุงเทพมหานคร',
    description: 'ระบบเผยแพร่ข้อมูลจัดซื้อจัดจ้างภาครัฐของหน่วยงานกรุงเทพมหานคร',
    image: `${environmentConfig.baseImageUrl}/images/protal-egp2.webp`,
    link: 'https://egp2.bangkok.go.th',
  },
  {
    title: 'อบรมหลักสูตรการใช้งาน ระบบเผยแพร่ข้อมูลการจัดซื้อจัดจ้างภาครัฐของหน่วยงานกรุงเทพมหานคร ระยะที่ 2',
    description:
      'เมื่อวันที่ 18 กรกฎาคม 2567 บริษัทฯได้จัดอบรมหลักสูตรการใช้งาน ระบบเผยแพร่ข้อมูลการจัดซื้อจัดจ้างภาครัฐของหน่วยงานกรุงเทพมหานคร ระยะที่ 2 โดยลุล่วงไปด้วยดี และได้ส่งงานตามกรอบเวลา ซึ่งแสดงให้เห็นถึงศักยภาพของบริษัทฯ ได้เป็นอย่างดี',
    image: `${environmentConfig.baseImageUrl}/images/seminar-egp.webp`,
  },
];

const privateProjects = [
  {
    image: `${environmentConfig.baseImageUrl}/images/eventbanana-logo.png`,
    imageClass: 'p-4 min-h-60 !object-contain !object-center',
    title: 'Event Banana',
    description: 'อีเวนท์ บานาน่า เป็นแพลตฟอร์มออนไลน์ที่รวบรวมสถานที่จัดงานกว่า 5,000 แห่งทั่วไทย และเสนอเมนูอาหารสำหรับงานต่าง ๆ มากกว่า 2,000 เมนู เหมาะสำหรับการจัดประชุม งานแต่ง งานเลี้ยง และงานองค์กร ช่วยให้การจัดงานง่ายขึ้นในทุกขั้นตอน',
  },
  {
    image: `${environmentConfig.baseImageUrl}/images/easyinsure.webp`,
    title: 'Easyinsure',
    description:
      'โบรกเกอร์ประกันภัยออนไลน์ที่ให้บริการครบวงจร รวดเร็วและสะดวกสบาย พร้อมข้อเสนอที่เหมาะสมที่สุดสำหรับคุณ จ่ายง่าย ได้ความคุ้มครองทันที',
    link: '/our-works/detail/easyinsure',
  },
  {
    image: `${environmentConfig.baseImageUrl}/images/siamlaw.webp`,
    title: 'Siamlaw Group',
    description:
      'พัฒนาระบบจัดเก็บข้อมูลคดีความ ติดตามสถานะคดีความ ทั้งส่วนของทนายความ เจ้าหน้าที่ รวมถึงการวางบิล ออกใบกำกับภาษี และรายงานสำหรับผู้บริหาร',
  },
];

const internationalProjects = [
  {
    title: 'WRM STORM Manager & OPS Manager',
    description:
      'ระบบจัดการทรัพยากรในกรณีเกิดเหตุฉุกเฉิน เช่น การซ่อมแซมโครงสร้างพื้นฐานของสาธารณูปโภค (ระบบไฟฟ้า, ระบบจ่ายแก๊ส ฯลฯ) และการดับไฟป่า\nระบบนี้มีความสามารถในการติดตามทรัพยากรทั้งบุคลากรและอุปกรณ์ที่ใช้ในเหตุการณ์ จัดหาอาหารและที่พัก รวมถึงการบริหารจัดการค่าใช้จ่ายสำหรับผู้ให้บริการในสถานการณ์ฉุกเฉิน\nผู้ใช้สามารถอัปเดตข้อมูลการทำงาน ส่งรายงาน และค้นหาเส้นทางไปยังที่พักผ่านแอปพลิเคชันบนมือถือได้อย่างสะดวก ระบบนี้ช่วยให้การดำเนินงานในสถานการณ์ฉุกเฉินเป็นไปอย่างรวดเร็วและมีประสิทธิภาพสูงสุด',
    image: `${environmentConfig.baseImageUrl}/images/storm.webp`,
    imageClass: 'md:h-72',
    badgeImage: `${environmentConfig.baseImageUrl}/images/WRM.webp`,
    link: '/our-works/detail/wrm',
  },
];

---

<Layout metadata={metadata}>
  <WidgetWrapper containerClass="max-w-7xl mx-auto">
    <Headline
      title="ผลงานของเรา"
      subtitle="ค้นพบโครงการที่น่าตื่นเต้นและสร้างสรรค์ของทีมเรา ทั้งในประเทศและต่างประเทศ"
      classes={{ container: 'pt-12 lg:pt-0' }}
    />

    <section class="mb-12">
      <h2 class="text-3xl font-bold mb-4">ผลงานภายในประเทศ</h2>
      <p class="text-gray-600 mb-6">
        บริษัทฯ มุ่งมั่นพัฒนาคุณภาพการให้บริการอย่างต่อเนื่องมาตั้งแต่อดีตจนถึงปัจจุบัน 
        จนได้รับความเชื่อมั่นและการยอมรับจากลูกค้าอย่างกว้างขวาง 
        โดยสามารถสังเกตได้จากความไว้วางใจของลูกค้าเดิมที่เคยใช้บริการพัฒนาระบบกับบริษัทฯ 
        ซึ่งยังคงเลือกให้บริษัทฯ ดำเนินการปรับปรุงและพัฒนาระบบเดิมให้ทันสมัย (Upgrade and Enhancement) อย่างต่อเนื่อง
      </p>

      <div class="mb-8">
        <h3 class="text-2xl font-semibold mb-4">ภาครัฐ (บางส่วน)</h3>
        <ProjectGrid projects={governmentProjects} classes={{ itemContent: 'flex flex-col justify-between h-full' }} />
      </div>

      <div class="mb-8">
        <h3 class="text-2xl font-semibold mb-4">ภาคเอกชน (บางส่วน)</h3>
        <ProjectGrid
          projects={privateProjects}
          classes={{ itemContent: 'flex flex-col justify-between h-full animate-on-scroll' }}
        />
      </div>
    </section>

    <section>
      <h2 class="text-3xl font-bold mb-6">ผลงานในต่างประเทศ (บางส่วน)</h2>
      <ProjectGrid projects={internationalProjects} classes={{ itemContent: 'animate-on-scroll' }} />
    </section>
  </WidgetWrapper>
</Layout>

<script>
  function handleIntersection(entries: IntersectionObserverEntry[]) {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add('show');
      }
    });
  }

  const observer = new IntersectionObserver(handleIntersection, {
    root: null,
    rootMargin: '0px',
    threshold: 0.1,
  });

  document.addEventListener('astro:page-load', () => {
    const elements = document.querySelectorAll('.animate-on-scroll');
    elements.forEach((el) => observer.observe(el));
  });
</script>
