---
import { twMerge } from 'tailwind-merge';
import Image from '~/components/common/Image.astro';
import Headline from '~/components/ui/Headline.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'ทีมงานของเรา',
};

const executives = [
  {
    name: 'Nakorn Rientrakunchai',
    position: 'Chief Executive Officer (CEO)',
    bio: 'เป็นผู้มีความรู้และความสามารถโดดเด่นในด้านการพัฒนาโซลูชั่นด้วยเทคโนโลยีของ Microsoft',
    image: '~/assets/images/ceo.webp',
    certificates: [
      'ได้รับการรับรองความเชี่ยวชาญผ่านใบรับรอง Microsoft Certified Azure Developer Associate',
      'ได้รับการรับรองความเชี่ยวชาญผ่านใบรับรอง Microsoft Certified DevOps Engineer Expert ',
      'การได้รับใบรับรองเหล่านี้ไม่เพียงแต่ยืนยันถึงความรู้และทักษะที่เขามีเท่านั้น แต่ยังรวมถึงการมีส่วนร่วมและการตอบสนองต่อความต้องการของโปรเจ็กต์ที่ซับซ้อนและการแก้ไขปัญหาที่หลากหลาย ทั้งนี้ยังสะท้อนถึงความมุ่งมั่นในการพัฒนาโปรแกรมให้ดีขึ้นอย่างไม่หยุดยั้ง',
    ],
    badgeImages: [
      { url: '~/assets/images/devops_engineer.png' },
      { url: '~/assets/images/azure_developer.png' },
      { url: '~/assets/images/azure_fundamentals.png' },
    ],
  },
  {
    name: 'Wittawat Karpkrikaew',
    position: 'Chief Technology Officer (CTO)',
    bio: 'Wittawat Karpkrikaew, หรือที่รู้จักกันในชื่อ Ponggun',
    image: '~/assets/images/cto.webp',
    imageClass: '!object-top md:!object-center',
    certificates: [
      'ได้พิสูจน์ศักยภาพและความหลงใหลในเทคโนโลยี Microsoft ด้วยการทำงานจากที่ไกลอย่างมีประสิทธิภาพ ซึ่งสะท้อนให้เห็นถึงความสามารถในการปรับตัวและการนำเสนอผลงานที่โดดเด่นได้ในทุกสถานการณ์',
      'ได้รับการยอมรับในระดับสูงจาก Microsoft โดยได้รับรางวัล Microsoft Most Valuable Professional (MVP) ในปี 2022 สำหรับหมวดหมู่ Microsoft Azure ซึ่งเป็นการยกย่องถึงความเชี่ยวชาญและการมีส่วนร่วมอย่างต่อเนื่องกับชุมชนเทคโนโลยี',
    ],
    badgeImages: [{ url: '~/assets/images/mvp-azure.webp' }],
  },
  {
    name: 'Watcharapong Suckavanich',
    position: 'General Manager (GM)',
    bio: 'ประสบการณ์ด้านบริหารโครงการและวิทยากรอบรมมากกว่า 12 ปี',
    image: '~/assets/images/team-gm.webp',
    certificates: [
      'บริหารจัดการโครงการ ปรับปรุงระบบเผยแพร่ข้อมูล การจัดซื้อจัดจ้างภาครัฐ ของหน่วยงานกรุงเทพมหานคร (e-GP BMA) Phase 2',
      'วิทยากรบรรยาย แก่นักศึกษาคณะวิศวกรรมศาสตร์ มหาวิทยาลัยขอนแก่น',
      'วิทยากรอบรมผู้ใช้งาน โครงการปรับปรุงระบบเผยแพร่ข้อมูล การจัดซื้อจัดจ้างภาครัฐ ของหน่วยงานกรุงเทพมหานคร (e-GP BMA) Phase 2',
    ],
  },
];

const employeeStats = {
  'Executive': executives.length,
  'Project Manager': 1,
  'Business Analyst/ System Analyst': 3,
  'Software Engineer': 4,
  'Software Developer': 10,
  'Mobile Developer': 2,
  'DevOps Engineer': 4,
  'Software Tester': 8,
  'R&D': 2,
  'Information Security Officer': 1,
  'UX/UI': 1,
  'Admin': 2,
};

const totalEmployees = Object.entries(employeeStats)
  .filter(([position]) => position !== 'Executive')
  .reduce((acc, [_, count]) => acc + count, 0);
---

<Layout metadata={metadata}>
  <WidgetWrapper containerClass="max-w-7xl mx-auto">
    <Headline
      title="ทีมงานของเรา"
      subtitle="พบกับทีมผู้นำและบุคลากรที่มีความสามารถของเรา ผู้ขับเคลื่อนความสำเร็จขององค์กร"
      classes={{ container: 'pt-12 lg:pt-0' }}
    />

    <section class="mb-16">
      <h2 class="text-3xl font-bold mb-8 text-center">ผู้บริหาร</h2>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        {
          executives.map((exec) => (
            <div class="bg-white border border-gray-200 shadow-lg rounded-lg overflow-hidden animate-on-scroll">
              <div class="relative">
                <Image src={exec.image} alt={exec.name} class={twMerge('w-full h-96 md:h-72', exec.imageClass ?? '')} />
                {exec.badgeImages?.map(({ url }, index) => (
                  <div
                    class={twMerge(
                      'absolute top-0 right-0 bg-white rounded-l-lg p-2',
                      index === 0
                        ? 'right-0 min-[490px]:right-0 top-0'
                        : index === 1
                          ? 'right-0 min-[490px]:right-12 top-12 min-[490px]:top-0 rounded-none'
                          : 'right-0 min-[490px]:right-24 top-24 min-[490px]:top-0'
                    )}
                  >
                    <div class="w-10 h-10">
                      <Image src={url} alt={exec.name} class="w-10 h-10 !object-contain" />
                    </div>
                  </div>
                ))}
              </div>
              <div class="p-6">
                <h3 class="text-xl font-semibold mb-2">{exec.name}</h3>
                <p class="text-gray-800 text-lg mb-4 font-bold">{exec.position}</p>
                <p class="text-gray-700 mb-4">{exec.bio}</p>
                <ul class="list-disc pl-5 text-gray-700">
                  {exec.certificates.map((cert) => (
                    <li>{cert}</li>
                  ))}
                </ul>
              </div>
            </div>
          ))
        }
      </div>
    </section>
    <section class="mb-16 animate-on-scroll">
      <div
        class="bg-white shadow-lg border border-gray-200 rounded-lg p-6 text-center flex flex-col-reverse md:flex-row w-full gap-8 items-center"
      >
        <div class="flex flex-col gap-4 items-start text-left">
          <h3 class="text-xl font-semibold">Nakorn Rientrakunchai</h3>
          <p class="text-sm">
            ได้รับ "ใบประกาศนียบัตร" จากการทุ่มเทเวลาและความพยายามในการเป็นอาสาสมัครในโปรแกรมพัฒนาซอฟต์แวร์รุ่นเยาว์
            (#GenMentorJSD) ของ Cohort 7 ซึ่งได้รับการสนับสนุนจากกระทรวงการอุดมศึกษา วิทยาศาสตร์ วิจัยและนวัตกรรม,
            Microsoft Thailand และมูลนิธิธนาคารอเมริกา
          </p>
          <p class="text-sm">โดยการทำงานอาสาสมัครนี้เริ่มตั้งแต่วันที่ 27 พฤษภาคม 2024 ถึงวันที่ 31 สิงหาคม 2024.</p>
          <p class="text-sm">
            ใบประกาศนี้ลงนามโดย CEO ของ Generation Thailand และ COO ของ Knowledge Xchange
            ซึ่งเป็นส่วนหนึ่งของมหาวิทยาลัยเทคโนโลยีพระจอมเกล้าธนบุรี
          </p>
        </div>
        <div class="">
          <Image
            src="~/assets/images/genmentor.webp"
            alt="รูปรวมพนักงาน"
            class="w-full max-w-4xl rounded-lg shadow-lg"
          />
        </div>
      </div>
    </section>
    <section class="mb-16 animate-on-scroll">
      <div
        class="bg-white shadow-lg border border-gray-200 rounded-lg p-6 text-center flex flex-col-reverse md:flex-row-reverse w-full gap-8 items-center"
      >
        <div class="flex flex-col gap-4 items-start text-left">
          <h3 class="text-xl font-semibold">Wittawat Karpkrikaew</h3>
          <p class="text-sm">
            ได้รับการยอมรับเป็น Microsoft Most Valuable Professional (MVP) เป็นครั้งที่ 2 ในปี 2023 ในสาขา Microsoft
            Azure
          </p>
        </div>
        <div class="">
          <Image
            src="~/assets/images/mvp-ponggun.webp"
            alt="รูปรวมพนักงาน"
            class="w-full rounded-lg shadow-lg h-80 !object-left"
          />
        </div>
      </div>
    </section>
    <div class="flex justify-center">
      <Image src="~/assets/images/team-photo-new.webp" alt="รูปรวมพนักงาน" class="w-full max-w-4xl rounded-lg shadow-lg" />
    </div>
    <section class="mb-16 animate-on-scroll" id="employee-count">
      <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 gap-8 mt-16">
        <div class="hidden md:block"></div>
        <div class="bg-white border border-gray-200 shadow-lg rounded-lg p-6 text-center">
          <h3 class="text-2xl font-bold mb-4">All Team Members</h3>
          <p class="text-4xl font-bold text-primary">
            <span class="employee-count" data-target={totalEmployees}>{totalEmployees}</span>
          </p>
        </div>
        <div class="hidden md:block"></div>
        <div class="hidden md:block"></div>
        <div class="bg-white border border-gray-200 shadow-lg rounded-lg p-6 text-center">
          <h3 class="text-xl font-semibold mb-4">Executive</h3>
          <p class="text-4xl font-bold text-primary">
            <span class="employee-count" data-target={employeeStats.Executive}>{employeeStats.Executive}</span>
          </p>
        </div>
        <div class="hidden md:block"></div>
        {
          Object.entries(employeeStats).map(
            ([position, count]) =>
              position !== 'Executive' && (
                <div class="bg-white border border-gray-200 shadow-lg rounded-lg p-6 text-center flex flex-col justify-between">
                  <h3 class="text-lg lg:text-xl font-semibold mb-4">{position}</h3>
                  <p class="text-4xl font-bold text-primary">
                    <span class="employee-count" data-target={count}>
                      {count}
                    </span>
                  </p>
                </div>
              )
          )
        }
      </div>
    </section>
  </WidgetWrapper>
</Layout>

<script>
  function animateValue(obj, start, end, duration) {
    let startTimestamp = 0;
    const step = (timestamp) => {
      if (!startTimestamp) startTimestamp = timestamp;
      const progress = Math.min((timestamp - startTimestamp) / duration, 1);
      obj.innerHTML = Math.floor(progress * (end - start) + start);
      if (progress < 1) {
        window.requestAnimationFrame(step);
      }
    };
    window.requestAnimationFrame(step);
  }

  function handleIntersection(entries: IntersectionObserverEntry[]) {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add('show');
      }
    });
  }

  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        const animated = entry.target.getAttribute('data-animated');
        if (entry.isIntersecting && !animated) {
          const target = parseInt(entry.target.getAttribute('data-target') ?? '0', 10);
          animateValue(entry.target, 0, target, target < 10 ? 500 : 1000);
          entry.target.setAttribute('data-animated', 'true');
        }
      });
    },
    {
      root: null,
      rootMargin: '0px',
      threshold: 0.1,
    }
  );

  const observerManager = new IntersectionObserver(handleIntersection, {
    root: null,
    rootMargin: '0px',
    threshold: 0.1,
  });

  document.addEventListener('astro:page-load', () => {
    const counters = document.querySelectorAll('.employee-count');
    counters.forEach((counter) => {
      observer.observe(counter);
    });

    const elements = document.querySelectorAll('.animate-on-scroll');
    elements.forEach((el) => observerManager.observe(el));
  });
</script>

<style>
  .animate-on-scroll {
    opacity: 0;
    transform: translateY(20px);
    transition:
      opacity 0.6s ease-out,
      transform 0.6s ease-out;
    transition-delay: calc(var(--animation-order, 0) * 0.1s);
  }
  .animate-on-scroll.show {
    opacity: 1;
    transform: translateY(0);
  }
</style>
