---
import Image from '~/components/common/Image.astro';
import Headline from '~/components/ui/Headline.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import Layout from '~/layouts/PageLayout.astro';
import { environmentConfig } from '~/config';
const metadata = {
  title: 'มาตรฐาน และใบรับรองของเรา | Our Standard',
};

const images = [
  {
    src: `${environmentConfig.baseImageUrl}/images/our_certificates/Ponggun/Ponggun-MVP.webp`,
    alt: 'Ponggun-MVP',
    link: 'https://www.credly.com/badges/a925f8a4-5107-4bc4-8ab5-cee3b663b404/public_url',
  },
  {
    src: `${environmentConfig.baseImageUrl}/images/our_certificates/Mild/thada_mvp.webp`,
    alt: 'Mild-MVP',
    link: 'https://mvp.microsoft.com/en-US/mvp/profile/3561647a-7542-4879-9702-5a78cc543eb8',
  },
  {
    src: `${environmentConfig.baseImageUrl}/images/our_certificates/Nakorn/Nakorn-DevOps Engineer Expert.webp`,
    alt: 'Nakorn-DevOps Engineer Expert',
    link: 'https://learn.microsoft.com/api/credentials/share/en-gb/NakornRientrakrunchai-3290/AD8C30B6C0025EF7?sharingId=57B1B17B693AE35E',
  },
  {
    src: `${environmentConfig.baseImageUrl}/images/our_certificates/Nakorn/Nakorn-Azure Developer Associate.webp`,
    alt: 'Nakorn-Azure Developer Associate',
    link: 'https://learn.microsoft.com/en-gb/users/nakornrientrakrunchai-3290/credentials/4bce7cd7a3ed3e22',
  },
  {
    src: `${environmentConfig.baseImageUrl}/images/our_certificates/Nakorn/Nakorn-Azure Fundamentals.webp`,
    alt: 'Nakorn-Azure Fundamentals',
    link: 'https://learn.microsoft.com/api/credentials/share/en-gb/NakornRientrakrunchai-3290/FCB870799C623A35?sharingId=57B1B17B693AE35E',
  },
  {
    src: `${environmentConfig.baseImageUrl}/images/our_certificates/Ponggun/Ponggun-Azure.webp`,
    alt: 'Ponggun-Azure',
    link: 'https://learn.microsoft.com/api/credentials/share/en-gb/ponggun/E8FF6C3510E41237?sharingId=AZ-MVP-5004988',
  },
  {
    src: `${environmentConfig.baseImageUrl}/images/our_certificates/Too/Too-Azure.webp`,
    alt: 'Too-Azure',
    link: 'https://learn.microsoft.com/en-us/users/keeratiratanapatayakorn-9126/credentials/3ddadb0646b98f76',
  },
  {
    src: `${environmentConfig.baseImageUrl}/images/our_certificates/Nakorn/Nakorn-Professional.webp`,
    alt: 'Nakorn-Professional', 
  },
];
---

<Layout metadata={metadata}>
  <WidgetWrapper containerClass="max-w-7xl mx-auto">
    <Headline title="มาตรฐานของเรา" classes={{ container: 'pt-12 lg:pt-0 lg:mb-8' }} />
    <div class="animate-on-scroll mb-4">
      <p class="indent-20 md:text-lg">
        บริษัทได้รับการประเมินและผ่านการรับรองมาตรฐาน <span class="text-primary">ISO 29110</span> ในกระบวนการ 
        <span class="text-primary">การบริหารจัดการโครงการ (Project Management: PM Process)</span> 
        รวมถึงการควบคุมกระบวนการ <span class="text-primary">การพัฒนาซอฟต์แวร์ (Software Implementation: SI Process)</span> โดยมีการดำเนินงานตามกรอบมาตรฐานที่กำหนดไว้อย่างเคร่งครัด เพื่อให้มั่นใจในประสิทธิภาพและคุณภาพของกระบวนการต่าง ๆ ที่เกี่ยวข้องในการพัฒนาซอฟต์แวร์ <span class="font-bold">เมื่อวันที่ 27 กันยายน 2567</span>
      </p>
    </div>
    <div
      class="border-[2px] border-black flex justify-center my-4 animate-on-scroll max-w-xl mx-auto shadow-xl hover:shadow-2xl transition-shadow duration-300 fade-up-element image-container"
    >
      <Image src={`${environmentConfig.baseImageUrl}/images/ISO.webp`} alt="ISO 29110" class="!object-contain h-auto w-auto" />
    </div>
    <Headline title="ใบรับรองของเรา" classes={{ container: 'pt-8 mb-8 sm:mb-6 sm:pt-6 lg:mb-8' }} />
    <div class="indent-20 animate-on-scroll mb-4 md:text-lg">
      ทีมงานของเราเป็น <span class="text-primary">ผู้เชี่ยวชาญด้านเทคโนโลยีของ Microsoft</span> ซึ่งได้รับการยืนยันด้วยใบรับรองจาก <span class="text-primary">Microsoft</span> ตลอดระยะเวลาที่ผ่านมา
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 mt-8 mx-auto">
      {
        images.map((image, index) => (
          <div
            class="overflow-hidden shadow-lg hover:shadow-xl transition-shadow duration-300 fade-up-element image-container animate-on-scroll"
            style={`--delay: ${index * 0.1}s`}
          >
            <a href={image.link ?? '#'} target="_blank" rel="noopener noreferrer">
              <Image src={image.src} alt={image.alt} class="w-full h-full !object-contain !object-center" />
            </a>
          </div>
        ))
      }
    </div>
  </WidgetWrapper>
</Layout>

<style>
  .image-container {
    overflow: hidden;
  }
  .image-scale {
    transition: transform 0.3s ease-in-out;
  }
  .image-container:hover .image-scale {
    transform: scale(1.1);
  }
  .animate-on-scroll {
    opacity: 0;
    transform: translateY(20px);
    transition:
      opacity 0.6s ease-out,
      transform 0.6s ease-out;
    transition-delay: calc(var(--animation-order, 0) * 0.1s);
  }
  .animate-on-scroll.show {
    opacity: 1;
    transform: translateY(0);
  }
</style>

<script>
  function handleIntersection(entries: IntersectionObserverEntry[]) {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add('show');
      }
    });
  }

  const observer = new IntersectionObserver(handleIntersection, {
    root: null,
    rootMargin: '0px',
    threshold: 0.1,
  });

  document.addEventListener('astro:page-load', () => {
    const elements = document.querySelectorAll('.animate-on-scroll');
    elements.forEach((el) => observer.observe(el));
  });
</script>
