---
import Image from '~/components/common/Image.astro';
import Headline from '~/components/ui/Headline.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import Content from '~/components/widgets/Content.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'ผลิตภัณฑ์',
};

const products = [
   {
    title: 'T.T. DASHBOARD',
    description:
      'T.T. Dashboard คือระบบแสดงผลข้อมูลอัจฉริยะ (Business Intelligence Dashboard) เปลี่ยนข้อมูลที่ซับซ้อนให้กลายเป็นภาพที่เข้าใจง่าย',
    subDescription: 
      'ช่วยให้องค์กรสามารถรวบรวมและแสดงผลข้อมูลสำคัญจากหลากหลายแหล่งที่มาไว้ในหน้าจอเดียว ช่วยให้ผู้บริหารและทีมงานสามารถติดตามตัวชี้วัด (KPIs) วิเคราะห์แนวโน้ม ดูข้อมูลได้หลากหลายมิติ และตัดสินใจทางธุรกิจได้อย่างเฉียบคมและทันท่วงที',
    image: `~/assets/images/dashboard.webp`,
  },
  {
    title: 'T.T. e-Litigation',
    description:
      'T.T. e-Litigation คือระบบบริหารจัดการงานคดีความสำหรับองค์กรที่มีความเกี่ยวข้องด้านกฏหมาย เพิ่มประสิทธิภาพและจัดระเบียบการดำเนินงานด้านกฎหมายขององค์กร',
    subDescription: 
      'เป็นระบบที่ถูกออกแบบมาเพื่อช่วยบริหารจัดการข้อมูลคดีความประเภทต่างๆ อย่างเป็นระบบ ตั้งแต่การรวบรวมข้อมูล, การติดตามความคืบหน้า, ไปจนถึงการออกรายงานสรุปผล ช่วยลดความซับซ้อนและป้องกันข้อมูลสำคัญตกหล่น ทำให้ทีมกฎหมายและผู้บริหารสามารถติดตามทุกขั้นตอนได้อย่างแม่นยำ',
    image: `~/assets/images/e-litigation.webp`,
  },
  {
    title: 'T.T. TRACKING',
    description:
      'T.T. Tracking คือระบบติดตาม และแสดงผลข้อมูลจากเซ็นเซอร์และอุปกรณ์ GPS/IoT ได้อย่างยืดหยุ่น',
    subDescription: 
      'การติดตามยานพาหนะ และขนส่ง หรือแม้แต่ด้านสิ่งแวดล้อม เช่น ระดับน้ำ, แรงลม, คุณภาพอากาศ, หรือข้อมูลจากสายการผลิตในโรงงานอุตสาหกรรม โดยระบบจะรวบรวมและนำข้อมูลที่ซับซ้อนมาแสดงผลแบบเรียลไทม์ผ่านแดชบอร์ดที่เข้าใจง่าย ช่วยให้คุณสามารถติดตามสถานะ, วิเคราะห์แนวโน้ม, และตัดสินใจจากข้อมูลจริงได้อย่างแม่นยำและทันท่วงที',
    image: '~/assets/images/tracking.webp',
  },
  {
    title: 'T.T. SURVEY',
    description:
      'T.T. SURVEY เป็นระบบ บริหารจัดการแบบสอบถามและแบบทดสอบ',
    subDescription: 
      'ออกแบบมาเพื่อรองรับการเก็บข้อมูลเชิงโครงสร้าง รองรับรูปแบบคำถาม-คำตอบ ที่หลากหลาย และสามารถกำหนดสิทธิ์การเข้าถึง ตามบทบาทผู้ใช้งานและหน่วยงาน สร้างแบบสอบถาม ได้ไม่จำกัดจำนวน พร้อมระบบบริหารจัดการแบบสอบถามที่เป็นมาตรฐาน รองรับการนำออกข้อมูลเพื่อนำไปใช้กับระบบอื่น',
    image: '~/assets/images/tt-survey.webp',
  },
  {
    title: 'T.T. AI CHAT BOT',
    description:
      'T.T. AI CHAT BOT คือระบบแชทบอทอัจฉริยะเพื่อการสื่อสารอัตโนมัติ ยกระดับการบริการและสร้างปฏิสัมพันธ์กับลูกค้าตลอด 24 ชั่วโมง',
    subDescription: 
      'เป็นโซลูชันที่ช่วยให้การสื่อสารเป็นไปอย่างราบรื่นและมีประสิทธิภาพ สามารถตอบคำถามที่พบบ่อย, ให้ข้อมูลผลิตภัณฑ์, หรือรับเรื่องร้องเรียนเบื้องต้นได้โดยอัตโนมัติ ทั้งหมดนี้ทำงานภายใต้แพลตฟอร์ม T.T. AI Integration ที่ช่วยให้คุณมั่นใจได้ว่าทุกการสนทนาจะถูกจัดการอย่างมีประสิทธิภาพ',
    image: '~/assets/images/tt-ai-chatbot.webp',
  },
  {
    title: 'T.T. AI OCR',
    description:
      'T.T. AI OCR (Optical Character Recognition) คือระบบแปลงเอกสาร และรูปภาพให้เป็นข้อมูลดิจิทัล ',
    subDescription: 
      'ช่วยลดขั้นตอนการคีย์ข้อมูลและเปลี่ยนเอกสารกระดาษให้กลายเป็นข้อมูลที่พร้อมใช้งานด้วย เทคโนโลยีการอ่านและสกัดข้อความจากไฟล์รูปภาพหรือ PDF ที่มีความแม่นยำสูง สามารถนำไปจัดเก็บในฐานข้อมูลกลางเพื่อสร้างองค์ความรู้ที่สืบค้นได้ง่าย (Knowledge Management), ส่งต่อไปยังระบบ Workflow อื่นๆ เพื่อสร้างกระบวนการทำงานอัตโนมัติ (Automation) หรือนำไปวิเคราะห์เชิงลึก (Analytics) เพื่อสร้างรายงานและแดชบอร์ดประกอบการตัดสินใจทางธุรกิจได้อย่างมีประสิทธิภาพ',
    image: '~/assets/images/tt-ai-chatbot.webp',
  },
  {
    title: 'T.T. AI AUTOMATION',
    description:
      'T.T. AI AUTOMATION คือระบบอัตโนมัติอัจฉริยะ (Intelligent Automation Platform) ที่ทำหน้าที่บริหารจัดการกระบวนการทำงานอัตโนมัติให้แก่องค์กรของคุณ',
    subDescription: 
      'สามารถเชื่อมต่อระบบ AI และแอปพลิเคชันต่างๆ ที่ใช้งานอยู่ให้ทำงานร่วมกันได้อย่างไร้รอยต่อ เช่น หลังจากที่รับคำร้องจากลูกค้า, ระบบ Automation สามารถนำข้อมูลไปสร้าง Task, เปิด Ticket ในระบบหลังบ้าน, หรือรับและแจ้งเตือนไปยังแผนกที่เกี่ยวข้องได้ทันที ช่วยลดข้อผิดพลาดและงานที่ต้องทำซ้ำซ้อน เพื่อให้ทีมของคุณมีเวลาไปโฟกัสกับงานที่สำคัญกว่า',
    image: '~/assets/images/tt-ai-automation-2.webp',
  },
  {
    title: 'T.T. BUDGETING',
    description:
      'T.T. BUDGETING คือระบบบริหารจัดการ อนุมัติและติดตามงบประมาณที่ออกแบบ และพัฒนาโดยทีมงานผู้เชี่ยวชาญของเราเพื่อรองรับทุกขั้นตอนของการจัดการงบประมาณอย่างครบวงจร',
    subDescription: 
      'ยกระดับการบริหารจัดการงบประมาณขององค์กรให้เป็นระบบและโปร่งใส ระบบรองรับทุกกระบวนการ ตั้งแต่การตั้งงบประมาณ, การจัดสรร, การโอนย้าย/ขอเพิ่มงบ ผ่านกระบวนการอนุมัติอย่างยืดหยุ่นตามศูนย์ต้นทุน (Cost Center) ไปจนถึงการติดตามและประเมินผลได้แบบเรียลไทม์ผ่านแดชบอร์ดอัจฉริยะ  ช่วยให้องค์กรสามารถบริหาร และติดตามงบประมาณประจำปีได้อย่างแม่นยำ',
    image: '~/assets/images/budget2.webp',
  },
  {
    title: 'T.T. CMS',
    description:
      'T.T. CMS คือระบบจัดการ Content Management System',
    subDescription: 
      'พัฒนาขึ้นโดยทีมงานของเรา เพื่อช่วยให้ การจัดการเนื้อหา (Content) ฝั่ง Public บนเว็บไซต์ ของคุณเป็นเรื่องง่ายและสะดวกสบาย ระบบนี้ออกแบบมา เพื่อรองรับไฟล์หลากหลายรูปแบบ พร้อมด้วย RichEditor ที่ช่วยให้ผู้ใช้งานสามารถแก้ไขเนื้อหาได้ โดยตรงบนเว็บไซต์โดยไม่จำเป็นต้องมีความรู้ด้านการ เขียนโค้ด ผู้ใช้งานสามารถจัดการเนื้อหาได้อย่างรวดเร็ว และเป็นระบบ',
    image: `~/assets/images/cms.webp`,
  },
  {
    title: 'T.T. ILAB',
   description:
      'T.T. ILAB คือระบบบริการตรวจวิเคราะห์ตัวอย่าง ทางชีวภาพหรือสารตัวอย่าง เพื่อหาผลลัพธ์ทางการแพทย์ วิทยาศาสตร์ หรืออุตสาหกรรม',
    subDescription: 
      'โดยระบบรองรับการ บริหารจัดการคำร้อง (Lab Order), คำนวณค่าบริการ อัตโนมัติ และชำระเงินได้หลายรูปแบบ (QR Code / บัตรเครดิต) พร้อมแสดงสถานะการดำเนินการและ ผลวิเคราะห์ผ่านระบบออนไลน์',
    image: '~/assets/images/ILab.webp',
  },
  {
    title: 'T.T. HR',
    description:
      'T.T. HR คือระบบบริหารบุคลากรที่พัฒนาขึ้นโดยทีมงานผู้เชี่ยวชาญของเรา เพื่อตอบโจทย์ทุกความต้องการในการจัดการทรัพยากรบุคคลในองค์กร',
    subDescription: 
      'ระบบนี้ครอบคลุมการจัดการข้อมูลบุคคลทั้งหมด ตั้งแต่ประวัติส่วนตัว, การจ้างงาน, การจ่ายเงินเดือน, การเก็บข้อมูลฝึกอบรม ไปจนถึงการออกรายงานสำคัญ ทั้งสำหรับยื่นต่อหน่วยงานภาครัฐ เช่น เอกสารประกันสังคม, ภ.ง.ด.1 และรายงานเพื่อการวิเคราะห์และบริหารจัดการภายในองค์กร นอกจากนี้ยังมาพร้อมฟังก์ชันระบบจัดการเงินเดือนและระบบการลาที่ช่วยให้การดำเนินการต่างๆ เป็นไปอย่างสะดวกและครบวงจร',
    image: `~/assets/images/hr.webp`,
  },
];
---

<Layout metadata={metadata}>
  <WidgetWrapper containerClass="max-w-7xl mx-auto">
    <div class="pt-6">
    <Headline
      title="ผลิตภัณฑ์ของเรา"
      subtitle="ผลิตภัณฑ์ที่เราจัดทำสำหรับองค์กร"
      classes={{ container: 'pt-12 lg:pt-0 animate-on-scroll' }}
    />
    </div>
    <!-- Content Widget **************** -->

    {
      products.map((product, index) => (
        <Content
          isReversed={index % 2 === 0}
          classes={{ container: 'mb-16 animate-on-scroll' }}
          isAfterContent
          imageContainerClasses="content-center mt-0 md:mt-10 lg:basis-1/2"
          contentContainerClasses="lg:gap-6"
          contentClasses="lg:basis-1/2"
        >
          <Fragment slot="content">
            <h3 class="text-2xl font-bold tracking-tight dark:text-white md:text-3xl mb-2 animate-on-scroll">
              <span class="text-primary">{product.title}</span>
            </h3>
            <p class="animate-on-scroll indent-10">{product.description}</p>
            <p class="animate-on-scroll">{product.subDescription}</p>
          </Fragment>
          <Fragment slot="image">
            <Image src={`${product.image}`} alt={product.title} class="w-full h-full rounded-lg animate-on-scroll" />
          </Fragment>
        </Content>
      ))
    }
  </WidgetWrapper>
</Layout>

<style>
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .animate-on-scroll {
    opacity: 0;
    transition:
      opacity 0.6s,
      transform 0.6s;
    transition-delay: calc(var(--animation-order, 0) * 0.1s);
  }
  .animate-on-scroll.show {
    opacity: 1;
    animation: fadeInUp 0.6s ease-out;
  }
</style>

<script>
  function handleIntersection(entries, observer) {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add('show');
        observer.unobserve(entry.target);
      }
    });
  }

  const observer = new IntersectionObserver(handleIntersection, {
    root: null,
    rootMargin: '0px',
    threshold: 0.1,
  });

  document.addEventListener('astro:page-load', () => {
    const elements = document.querySelectorAll('.animate-on-scroll');
    elements.forEach((el) => observer.observe(el));
  });
</script>
